<nav class="pagination" style="opacity: 1; display: block; text-align: center">
    <a class="extend prev" rel="prev" href="<%= prev ? "/"+prev : "."%>" data-pjax-state=""><i class="fa fa-angle-left"></i></a>
    <a class="extend next" rel="next" href="<%= next ? "/"+next : "."%>" data-pjax-state=""><i class="fa fa-angle-right"></i></a>
</nav>