<%- include('./partials/header') %>
<div class="index posts-expand">
    <article itemscope="" itemtype="http://schema.org/Article" class="post-block" lang="en" style="opacity: 1; display: block;">
        <div class="post-body" itemprop="articleBody" style="opacity: 1; display: block; transform: translateY(0px);">
            <strong><%= title %>:</strong><p><%= message %></p>
        </div>
    </article>
</div>
<%- include('./partials/footer') %>
